# Virtual env
venv/

# Python
__pycache__/
*.pyc

# Models
*.h5
*.pt
*.pth

# Datasets
dataset/
datasets/
*/datasets/

# Training outputs
*/results/
*/training/*.csv
*/training/*.png
*/training/*.json

# Logs
logs/
*.log

# Uploads & generated
static/uploads/
static/results/

# OS
.DS_Store

# Env
.env